*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.direction{
    flex-direction: column;
}
body{
    background-color: rgb(49, 48, 48);
    overflow-x: hidden;
}

section{
    height: 100vh;
    width: 100%;
    text-align: center;
}

.d-grid{
    display: grid;
}

 .gap-row{
    row-gap: 2rem;
} 

.calc-container{
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.calc-container p{
    color: #fff;
    font: 2rem 'Trebuchet Ms';
    margin-bottom: 2rem;
}

.input{
    height: 25%;
    width: 100%;
    margin-bottom: 4rem;
}

.input div{
    color: #fff;
    font: 8rem 'Helvetica';
    width: 50%;
    height: 80%;
    background-color: rgba(85, 85, 85, 0.377);
    outline: none;
    border: none;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.box{
    height: 20%;
    width:50%;
}
#save{
    font: 3rem 'Arial';
    height: 20%;
    width: 50%;
    background-color: #fff;
    color: red;
}

#final{
    font: 4rem 'Arial';
    height: 5%;
    width: 10%;
    background-color: #fff;
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}


.calc-buts{
    grid-template-columns: 1fr;
    row-gap: 1rem;
}

.buts{
    color: #fff;
    font: 2rem 'Helvetica';
    width: 12.4%;
    height: 5rem;
    background-color: rgba(34, 33, 33, 0.89);
    outline: none;
    border: none;
}

.green{
    background-color: rgb(81, 151, 11);
}

.buts:hover{
    background-color: rgba(78, 76, 76, 0.89);
}

.green:hover{
    background-color: rgb(99, 187, 12);
}