.main{
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    justify-content: space-between;
    /* padding: 0 3rem; */
    /* position: relative; */
}

.side-bar{
    width: 7%;
    height: 100%;
    border-radius: 10px;
    /* box-shadow: 20px 10px 90px #fff; */
}

.icons{
    width: 100%;
    height: 10%;
    margin-bottom: 1rem;
}

.icons:first-child{
    border-left: 4px solid blue;
}

.icons:active,
.icons:hover{
    border-left: 4px solid blue;
    cursor: pointer
}
.icons ion-icon{
    font-size: 3rem;
    color:  #fff;
}
/* BEGINNING OF THEME SESSION */
.theme{
    position:absolute;
    height: 100%;
    width: 30%;
    background-color: rgba(6, 6, 53, 0.918);
    left:180%;
    right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    visibility: hidden;
    flex-direction: column;
    color: #dbdb14;
    z-index: 9999;
}

.close{
    width: 4rem;
    height: 4rem;
    background-color: rgb(133, 8, 8);
    border-radius: 10px;
    color: #000;
    margin-bottom: 4rem;
}

.close-theme ion-icon{
    color: #000;
}

.theme ion-icon{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 3rem;
}

.theme ion-icon:hover{
    cursor: pointer;
}
/* BEGINNING OF SETTINGS SESSION */
.settings{
    position:absolute;
    height: 100%;
    width: 70%;
    background-color: rgba(19, 19, 22, 0.918);
    /* left: auto;
    right: 0; */
    transform: translateX(500%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* visibility: hidden; */
    padding: 2rem 0;
    z-index: 9999;
}

.close-settings{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.account{
    width: 100%;
    height: 6rem;
    background-color: transparent;
    padding: 0 2rem;
    margin-bottom: 3rem;
}

.account:hover{
    cursor: pointer;
}

.account ion-icon{
    font-size: 5.5rem;
    color: #fff;
    margin-right: 2rem;
}

.account-privacy h3{
    font: 3rem 'Trebechut Ms';
    margin-bottom: 0.3rem;
}

.account-privacy p{
    font: 2rem 'Arial';
    color: #555;
}

.font-style{
    width: 100%;
    height: 6rem;
    background-color: transparent;
    padding: 0 2rem;
    margin-bottom: 3rem;
}

.font-style:hover{
    cursor: pointer;
}

.font-style ion-icon{
    font-size: 5.5rem;
    color: #fff;
    margin-right: 2rem;
}

.font-private h3{
    font: 3rem 'Trebechut Ms';
    margin-bottom: 0.3rem;
}

.font-private p{
    font: 2rem 'Arial';
    color: #555;
}

.chat-style{
    width: 100%;
    height: 6rem;
    background-color: transparent;
    padding: 0 2rem;
}

.chat-style:hover{
    cursor: pointer;
}

.chat-style ion-icon{
    font-size: 5.5rem;
    color: #fff;
    margin-right: 2rem;
}

.chat-private h3{
    font: 3rem 'Trebechut Ms';
    margin-bottom: 0.3rem;
}

.chat-private p{
    font: 2rem 'Arial';
    color: #555;
}

.account-popup{
    width: 100%;
    height: 70%;
    overflow: hidden;
    background-color: #ccccff;
    position: absolute;
    left: 60%;
    top: 15%;
    z-index: 9999;
    padding: 2rem;
    visibility: hidden;
}

.font-popup{
    width: 50%;
    height: 50%;
    overflow: hidden;
    background-color: #ccccff;
    position: absolute;
    left: 95%;
    top: 17%;
    z-index: 9999;
    padding: 2rem;
    visibility: hidden;
}

.font-popup h3{
    font: 3rem 'Pacifico';
}

#fontDecide{
    width: 70%;
    height: 15%;
}

.chat-popup{
    width: 100%;
    height: 70%;
    overflow: hidden;
    background-color: #ccccff;
    position: absolute;
    left: 60%;
    top: 15%;
    z-index: 9999;
    padding: 2rem;
    visibility: hidden;
}

.close-chat-box{
    height: 10%;
    width: 100%;
}

.b{
    height: 2rem;
    width: 2rem;
    background-color: rgb(11, 192, 108);
    border-radius: 50%;
    margin-right: 0.5rem;
}

.b:nth-child(2){
    height: 2rem;
    width: 2rem;
    background-color: rgb(99, 44, 112);
    border-radius: 50%;
    margin-right: 0.5rem;
}

.b:nth-child(3){
    height: 2rem;
    width: 2rem;
    background-color: red;
    border-radius: 50%;
}
/* end of settins session */
.fire-shield{
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    position: absolute;
    visibility: hidden;
}

.shield-response{
    height: 70%;
    width: 50%;
    background-color: #ccccff;
    padding: 2rem;
}

.close-shield-response{
    height: 10%;
    width: 100%;
}

.b{
    height: 2rem;
    width: 2rem;
    background-color: rgb(11, 192, 108);
    border-radius: 50%;
    margin-right: 0.5rem;
}

.b:nth-child(2){
    height: 2rem;
    width: 2rem;
    background-color: rgb(99, 44, 112);
    border-radius: 50%;
    margin-right: 0.5rem;
}

.b:nth-child(3){
    height: 2rem;
    width: 2rem;
    background-color: red;
    border-radius: 50%;
}


.main-container{
    width: 90%;
    height: 100%;
}

.context{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.chatlist{
    width: 35%;
    height: 100%;
}

.chathead{
    height: 27%;
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
}

.chatlist h1{
    font: 4rem 'Pacifico';
    color: rgb(252, 79, 160);
    margin-bottom: 3rem;
    width: 50%;
}

.headinput{
    background-color: transparent;
    border: 2px solid rgb(252, 79, 160);
    outline: none;
    padding-left: 1rem;
    width: 65%;
    height: 4rem;
}

.headinput::-webkit-input-placeholder{
    font: 2rem 'Pacifico';
    color: aliceblue;
}

.inputsearch{
    width: 30%;
    height: 4rem;
    background-color: rgb(111, 79, 252);
    outline: none;
    border: none;
}

.chats{
    height: 70%;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.chats::-webkit-scrollbar{
    width: 1.5rem;
}

.chats::-webkit-scrollbar-thumb {
    background: #888;
  }

.chats::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

.chats::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.chat-add{
    width: 100%;
    height: auto;
    padding: 0.5rem 1rem;
}

.chat-add ion-icon{
    font-size: 3rem;
    color: #fff;
}

.chat-add ion-icon:hover{
    cursor: pointer;
}
/* THIS IS THE CHAT INPUT PART */
.chat-settings{
    width: 50%;
    height: 50%;
    background-color: #ccccff;
    position: absolute;
    top: 30%;
    left: 82%;
    flex-direction: column;
    visibility: hidden;
    z-index: 9999;
}

.chat-settings ion-icon{
    color:red;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.chat-settings ion-icon:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.chat-settings h3{
    font: 3rem 'Pacifico';
    margin-bottom: 1.5rem;
}

.chat-settings input{
    height: 3rem;
    width: 60%;
    margin-bottom: 1rem;
    transition: transform 0.3 ease-in-out;
}

.chat-settings input:hover{
    transform: scale(1.1);
}

.chat-settings input::-webkit-input-placeholder{
    font-family: 'Pacifico', 'Trebuchet Ms';
}

.chat-settings button{
    padding:  1rem 2rem;
}

.chat-dispay{
    width: 100%;
    height: auto;
    color: #fff;
    font: 3rem 'Pacifico';
    padding: 0 2rem;
    margin-bottom: 2rem;
}

.chat-dispay span{
    width: 70%;
    height: 100%;
}

.chat-dispay:hover{
    cursor: pointer;
    border-left: 3px solid blue;
}

.chat-dis-pic{
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 2px solid #fff;
}
/* .chat-dispay h2{
    color: #fff;
} */

/* STATUS PART */
.chatroom{
    width: 63%;
    height: 100%; 
    /* flex-direction: column; */
    gap: 4rem;
    position: relative;
    padding: 1rem;
    overflow: hidden;
    position: relative;
    /* justify-content: space-between; */
}

.status-carousel{
    width: 100%;
    height: 40%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: cente; */
}

/* .status-carousel:hover{
    cursor:grab;
} */

.status-carousel h3{
    font: 3.5rem 'Kaushan Script';
    color: #555;
}

.status-carousel ion-icon{
    font-size: 3rem;
    color: #fff;
}

.status-carousel ion-icon:hover{
    cursor: pointer;
}

.status-updates{
    width: 3%;
    height: 100%;
    border: 2px solid #000;
    margin-right: 2rem;
}

.statusUpdateDiv{
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: #ccccff;
    top: 20%;
    left: 20%;
    padding: 2rem;
    overflow: hidden;
    overflow-y: scroll;
    visibility: hidden;
}

.imageDiv{
    width: 100%;
    height: 40%;
    border: 2px solid #555;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: hidden;
    overflow-y: scroll;
}

.statusUpdateDiv h3{
    font: 2rem 'Helvetica';
    margin-bottom: 1rem;
}

.statusUpdateDiv p{
    font: 2rem 'Helvetica';
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.statusUpdateDiv button{
    padding: 1rem 2rem;
}

.statusText{
    width: 100%;
    height: 40%;
    border: 2px solid #555;
    font: 2rem 'Helvetica';
}

#choosingFile{
    width: 60%;
    height: 20%;
}

.chatRoom{
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #ccccff;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    /* z-index: 9999; */
    /* padding: 2rem; */
    overflow: hidden;
}

.chatRoom ion-icon{
    columns: #555;
    font-size: 2rem;
}

.chatRoom ion-icon:hover{
    color: #fff;
    cursor: pointer;
}

.chatRoomHeader{
    width: 100%;
    height: 10rem;
    background-color: #666680;
    padding: 1rem;
}